<div class="container">

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="max-width-1024">
            <div class="embed-responsive embed-responsive-16by9" id="player">
            </div>
          </div>
    </div>
  </div>
</div>

<div class="container">
  <button (click)="inicio()">Desde el comienzo</button>
  <button (click)="pausar()">Pausar</button>
  <button (click)="reproducir()">Reanudar</button>
  <button (click)="avanzar1()">Concepto de Proposición</button>
  <button (click)="avanzar2()">Ejemplo de Proposición</button>
  <button (click)="avanzar3()">Resumen</button>
  <button (click)="avanzar4()">¿Qué No es proposición?</button>
  <button (click)="avanzar5()">Ejemplo de No Proposición</button>
  <button (click)="avanzar6()">Siguientes lecciones</button>

</div>
 
<!-- app.component -->
<chat-dialog>Hola</chat-dialog>