h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }

body, html { 
    height:100%;
    margin:0;
    padding:0;
    width:100%;
    background-color:silver;
  }


  .recuadro {
    width:49.5%;
    height:100%;
    overflow:hidden;
  }

  #uno{
    background-color:blue;
    }
  #dos{
    background-color:green;
    }
  #tres{
    background-color:yellow;
    }
  #cuatro{
    background-color:red;
    }
  
