
<div>
  <div class='recuadro col-lg-6 col-sm-6 col-xs-6'>
    <!-- app.component -->
    <chat-dialog>Hi</chat-dialog>
  </div>
</div>

<div class='col-lg-6 col-sm-6 col-xs-6'  id='player'>
</div>

<div class='col-lg-6 col-sm-6 col-xs-6'>  
    <button (click)="inicio()"><<</button>
    <button (click)="pausar()">||</button>
    <button (click)="reproducir()">></button>
    <button (click)="avanzar1()">¿Qué es una Proposición?</button>
    <button (click)="avanzar2()">Ejemplo de Proposición</button>
    <button (click)="avanzar3()">Resumen</button>
    <button (click)="avanzar4()">¿Qué No es proposición?</button>
    <button (click)="avanzar5()">Ejemplo de No Proposición</button>
    <button (click)="avanzar6()">Siguientes lecciones</button>
</div>


